/*side nav left*/


.sidenav {
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 100%;
  width: 18%;
  position: fixed;
  background-color: #B13800ff !important;
  overflow-x: hidden;
  padding-top: 60px;

}

.sidenav a {

  padding-left: 40px;
  text-decoration: none;
  font-size: 20px;
  color: #faf7f1 !important;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #0c1c19 !important;

}

/*side nav right*/

.sidenavR {
  height: 100%;
  width: 18%;
  position: fixed;
  right: 0;
  overflow-x: hidden;
  padding-top: 10px;
  background-color: #faf7f1 !important;

}